
/* Projects Photo */
.project1{
    background-image: url('https://via.placeholder.com/400x600.png?text=Project+one');
    cursor: none;    
}

.ProfilePic{
    width: auto;
    height: 300px;
    border-radius: 40px;  
}

.hpyImage{
    width: 100%;
    height: 300px;
}

